.content {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

.content p {
    margin-top: 1.5rem;
}

.left-side {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.right-side {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
}

@media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
}